*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: bisque;
}

button {
    width: 50px;
    height: 25px;
    margin: 5px;
    display: inline-block;
}

figure {
    float: left;
    width: 100%;
    padding-left: 50px;
    color: #333;
    background-color: aqua;
}

img {
    max-width: 500px;
    height: 300px;
}